<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'book:index' %}">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'book:add_book' %}"
          >Add a Book <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <form
      class="form-inline"
      method="GET"
      action="{% url 'book:search_books' %}"
    >
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="query"
      />

      <select class="form-control mr-sm-2" name="filter_by">
        <option value="title">Title</option>
        <option value="author">Author</option>
        <option value="genre">Genre</option>
        <option value="id">ID</option>
      </select>

      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
